<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Degree page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" crossorigin="anonymous">
</head>
<body>

<!--some header-->
<a href="/degrees/addDegree" class="btn btn-outline-success">Add Degree</a>
<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Info</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item:${degrees}">
        <th th:text="${item.getId()}"></th>
        <th th:text="${item.getTitle()}"></th>

        <th><a th:href="'/degrees/'+${item.getId()}+'/infoDegree'" class="btn btn-outline-primary">Info</a></th>
        <th><a th:href="@{/{id}/addDegree(id=${item.getId()})}" class="btn btn-outline-secondary">Edit</a></th>
        <th><a th:href="@{/{id}/deleteDegree(id=${item.getId()})}" class="btn btn-outline-danger">Delete</a></th>
    </tr>
    </tbody>
</table>

<!--some footer-->
</body>
</html>